# Bonus: Temperature Analysis I

In [16]:
import pandas as pd
import datetime as dt

In [24]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [26]:
df["date"]

0        2010-01-01
1        2010-01-02
2        2010-01-03
3        2010-01-04
4        2010-01-06
            ...
19545    2017-08-19
19546    2017-08-20
19547    2017-08-21
19548    2017-08-22
19549    2017-08-23
Name: date, Length: 19550, dtype: object

In [42]:
# Convert the date column format from string to datetime
datetime_list = []

for x in df["date"]:
    x = dt.datetime.strptime(x, '%Y-%m-%d')
    datetime_list.append(x)
    
df['Date (Datetime Format)'] = datetime_list
    
measure_df = df[{'station', 'prcp', 'tobs', 'Date (Datetime Format)'}]

In [31]:
# Set the date column as the DataFrame index
measure_df = measure_df.dropna(how="any")
measure_df = measure_df.set_index('Date (Datetime Format)')
measure_df

                            station  prcp  tobs
Date (Datetime Format)
2010-01-01              USC00519397  0.08    65
2010-01-02              USC00519397  0.00    63
2010-01-03              USC00519397  0.00    74
2010-01-04              USC00519397  0.00    76
2010-01-07              USC00519397  0.06    70
...                             ...   ...   ...
2017-08-17              USC00516128  0.13    72
2017-08-19              USC00516128  0.09    71
2017-08-21              USC00516128  0.56    76
2017-08-22              USC00516128  0.50    76
2017-08-23              USC00516128  0.45    76

[18103 rows x 3 columns]

### Compare June and December data across all years

In [48]:
from scipy import stats

In [57]:
# June
june_df = measure_df.loc[measure_df['Date (Datetime Format)'].dt.month == 5,:]
june_df = june_df.dropna(how="any")
june_df = june_df .set_index('Date (Datetime Format)')
june_df

                            station  prcp  tobs
Date (Datetime Format)
2010-05-01              USC00519397  0.00    77
2010-05-02              USC00519397  0.03    73
2010-05-03              USC00519397  0.20    74
2010-05-04              USC00519397  0.08    76
2010-05-05              USC00519397  0.01    76
...                             ...   ...   ...
2017-05-25              USC00516128  0.88    75
2017-05-26              USC00516128  0.00    72
2017-05-27              USC00516128  0.50    72
2017-05-28              USC00516128  0.00    73
2017-05-30              USC00516128   NaN    72

[1733 rows x 3 columns]

In [58]:
# December
december_df = measure_df.loc[measure_df['Date (Datetime Format)'].dt.month == 12,:]
december_df = december_df.dropna(how="any")
december_df = december_df.set_index('Date (Datetime Format)')
december_df

                            station  prcp  tobs
Date (Datetime Format)
2010-12-01              USC00519397  0.04    76
2010-12-03              USC00519397  0.00    74
2010-12-04              USC00519397  0.00    74
2010-12-06              USC00519397  0.00    64
2010-12-07              USC00519397  0.00    64
...                             ...   ...   ...
2016-12-27              USC00516128  0.14    71
2016-12-28              USC00516128  0.14    71
2016-12-29              USC00516128  1.03    69
2016-12-30              USC00516128  2.37    65
2016-12-31              USC00516128  0.90    65

[1517 rows x 3 columns]

In [51]:
# Identify the average temperature for June
june_tmean = june_df['tobs'].mean()
june_tmean

73.62253694581281

In [52]:
# Identify the average temperature for December
december_tmean = december_df['tobs'].mean()
december_tmean

70.93024911032029

In [63]:
# Run paired t-test
stats.ttest_ind(june_df['tobs'],december_df['tobs'])

Ttest_indResult(statistic=21.186128317923664, pvalue=2.033012240694419e-93)